In [22]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from datetime import datetime
import pandas_datareader as pdr
import pandas.util.testing as tm

In [2]:
SA_oil = pd.read_csv("2222.csv", usecols=['Date', 'Adj Close'],
                                   parse_dates=["Date"],
                                   index_col=["Date"])
#SA_oil = SA_oil.rename()
SA_oil.head()

            Adj Close
Date
2020-01-01  28.788849
2020-02-01  28.114435
2020-03-01  25.416800
2020-04-01  26.749390
2020-05-01  27.890360

In [3]:
# retuen = (current - pervious) / current
returns_SA_oil = SA_oil.pct_change()
returns_SA_oil.head()
#returns_SA_oil.shape

            Adj Close
Date
2020-01-01        NaN
2020-02-01  -0.023426
2020-03-01  -0.095952
2020-04-01   0.052429
2020-05-01   0.042654

In [4]:
Rajhi = pd.read_csv("1120.csv", usecols=['Date', 'Adj Close'],
                                   parse_dates=["Date"],
                                   index_col=["Date"])

#df.head()
returns_Rajhi = Rajhi.pct_change()
returns_Rajhi.head()

            Adj Close
Date
2020-01-01        NaN
2020-02-01  -0.054217
2020-03-01  -0.143312
2020-04-01   0.093006
2020-05-01   0.008741

In [5]:
Sabic = df = pd.read_csv("2020.csv", usecols=['Date', 'Adj Close'],
                                   parse_dates=["Date"],
                                   index_col=["Date"])
#df.head()
returns_Sabic = Sabic.pct_change()
returns_Sabic.head()

            Adj Close
Date
2020-01-01        NaN
2020-02-01  -0.104000
2020-03-01  -0.077381
2020-04-01   0.170016
2020-05-01   0.076271

In [6]:
#SA_oil, Rajhi, Sabic,
df = pd.merge(SA_oil, Rajhi, on='Date', how='inner')
#df

In [7]:
df1 = pd.merge(df, Sabic, on='Date', how='inner')
df1.head()

            Adj Close_x  Adj Close_y  Adj Close
Date
2020-01-01    28.788849    63.108212  70.801003
2020-02-01    28.114435    59.686680  63.437691
2020-03-01    25.416800    51.132854  58.528835
2020-04-01    26.749390    55.888531  68.479668
2020-05-01    27.890360    56.377068  73.702682

In [15]:
#marge
matrix_of_return_values = df1
matrix_of_return_values.head()

            Adj Close_x  Adj Close_y  Adj Close
Date
2020-01-01    28.788849    63.108212  70.801003
2020-02-01    28.114435    59.686680  63.437691
2020-03-01    25.416800    51.132854  58.528835
2020-04-01    26.749390    55.888531  68.479668
2020-05-01    27.890360    56.377068  73.702682

In [9]:
collection_of_random_asset_weights = []
portfolio_means = []
portfolio_standard_deviations = []
portfolio_sharpe_ratios = []

In [18]:
#random_asset_weights = np.random.random(2)
#random_asset_weights /= random_asset_weights.sum()
#random_asset_weights
no_of_portfolios = df1.shape[0]
no_of_asset_classes = df1.shape[1]

def get_random_asset_weights(no_of_asset_classes):
    random_asset_weights = np.random.rand(no_of_asset_classes)
    random_asset_weights /= sum(random_asset_weights)
    random_asset_weights = np.asmatrix(random_asset_weights)  # <-- Include this line.
    return random_asset_weights

In [17]:
x = df1.shape[0]
x

23

In [11]:
def get_portfolio_statistics(asset_weights, matrix_of_return_values):
    asset_means = np.asmatrix(np.mean(matrix_of_return_values, axis = 1))
    asset_covariances = np.asmatrix(np.cov(matrix_of_return_values))
    portfolio_mean = asset_weights * asset_means.T
    portfolio_mean = portfolio_mean.item()
    portfolio_standard_deviation = np.sqrt(asset_weights * asset_covariances * asset_weights.T)
    portfolio_standard_deviation = portfolio_standard_deviation.item()
    portfolio_sharpe_ratio = portfolio_mean / portfolio_standard_deviation
    return portfolio_mean, portfolio_standard_deviation, portfolio_sharpe_ratio

In [21]:
#while len(collection_of_random_asset_weights) < no_of_portfolios:
    #random_asset_weights = random_asset_weights(no_of_asset_classes)
    #collection_of_random_asset_weights.append(random_asset_weights) 
    #A,B,C=get_portfolio_statistics(random_asset_weights,matrix_of_return_values)
    #portfolio_means.append(A)
    #portfolio_standard_deviations.append(B)
    #portfolio_sharpe_ratios.append(C)