Revenue Growth Factor: 18% of prior period Revenue

EBITDA Margin: 45.0% of current Revenue

Taxes: 21% of current EDBITDA

Capital Expenditures: 3% of current Revenue

Working Capital Increase: 6% of Revenue

EBITDA Exit Multiple: 32.70

Discount Factor: 0.94 (6%).

We would like a ten year model starting in 2022 to 2032.

Your starting baseline historical Revenue is 222 for the FY 2021 (assume it's over for now). 

Parameters:  Values

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
years = ['2021','2022', '2023', '2024', '2025', '2026', '2027','2028', '2029','2030', '2031','2032' ]
Revenue = pd.Series(index=years)
Revenue['2021'] = 222
Revenue

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

2021    222.0
2022      NaN
2023      NaN
2024      NaN
2025      NaN
2026      NaN
2027      NaN
2028      NaN
2029      NaN
2030      NaN
2031      NaN
2032      NaN
dtype: float64

In [8]:
growth_rate = 0.18
for year in range(1, 12):
    Revenue[year] = Revenue[year - 1] * (1 + growth_rate)
Revenue

2021     222.000000
2022     261.960000
2023     309.112800
2024     364.753104
2025     430.408663
2026     507.882222
2027     599.301022
2028     707.175206
2029     834.466743
2030     984.670757
2031    1161.911493
2032    1371.055562
dtype: float64

In [9]:
ebitda_margin = 0.45
ebitda = Revenue * ebitda_margin 
ebitda

2021     99.900000
2022    117.882000
2023    139.100760
2024    164.138897
2025    193.683898
2026    228.547000
2027    269.685460
2028    318.228843
2029    375.510034
2030    443.101841
2031    522.860172
2032    616.975003
dtype: float64

In [18]:
tax_rate = 0.21
tax = -ebitda * tax_rate
tax_payment = tax.apply(lambda x: min(x, 0))
tax_payment

2021    -20.979000
2022    -24.755220
2023    -29.211160
2024    -34.469168
2025    -40.673619
2026    -47.994870
2027    -56.633947
2028    -66.828057
2029    -78.857107
2030    -93.051387
2031   -109.800636
2032   -129.564751
dtype: float64

In [12]:
capex_percent = 0.03
capital_expenditures = -(Revenue * capex_percent)
capital_expenditures

2021    -6.660000
2022    -7.858800
2023    -9.273384
2024   -10.942593
2025   -12.912260
2026   -15.236467
2027   -17.979031
2028   -21.215256
2029   -25.034002
2030   -29.540123
2031   -34.857345
2032   -41.131667
dtype: float64

In [22]:
nwc_percent = 0.06
nwc = Revenue * nwc_percent
change_in_nwc = nwc.shift(1) - nwc
#to be changed to 0
change_in_nwc

2021          NaN
2022    -2.397600
2023    -2.829168
2024    -3.338418
2025    -3.939334
2026    -4.648414
2027    -5.485128
2028    -6.472451
2029    -7.637492
2030    -9.012241
2031   -10.634444
2032   -12.548644
dtype: float64

In [21]:
cash_flow = ebitda + tax_payment + capital_expenditures + change_in_nwc
cash_flow

2021           NaN
2022     82.870380
2023     97.787048
2024    115.388717
2025    136.158686
2026    160.667250
2027    189.587355
2028    223.713078
2029    263.981433
2030    311.498090
2031    367.567747
2032    433.729941
dtype: float64

In [26]:
#Discount Factor
discount_rate = 0.06
#terminal_growth = 0.06
#terminal_value = ((cash_flow[-1] * (1 + terminal_growth)) / 
                 #(cost_of_capital - terminal_growth))
discount_factors = [(1 / (1 + discount_rate)) ** i for i in range (0,12)]
discount_factors

[1.0,
 0.9433962264150942,
 0.8899964400142397,
 0.8396192830323016,
 0.7920936632380202,
 0.7472581728660568,
 0.7049605404396762,
 0.6650571136223359,
 0.6274123713418263,
 0.5918984635300247,
 0.5583947769151176,
 0.5267875253916203]

In [ ]:
#Present Value of Future Cash Flow